---
---

{{reference}}

<div id="{{key}}-materials">
  <ul class="nav nav-pills">
    {% if entry.preprint %}
    [<a href="{{entry.preprint}}">Preprint</a>]
    {% endif %}

    {% if entry.link %}
    [<a href="{{links.pdf}}">PDF</a>]
    {% endif %}

    {% if entry.install %}
    [<a href="{{entry.install}}">Install</a>]
    {% endif %}

    {% if entry.code %}
    [<a href="{{entry.code}}">Code</a>]
    {% endif %}

    {% if entry.web %}
    [<a href="{{entry.web}}">Website</a>]
    {% endif %}

    {% if entry.materials %}
    [<a href="{{entry.materials}}">Materials</a>]
    {% endif %}

    {% if entry.award %}
    <span class="award">{{entry.award}}</span>
    {% endif %}
  </ul>

  <!-- {% if entry.abstract %}
  <p id="{{key}}-abstract" class="collapse">{{entry.abstract}}</p>
  {% endif %}

  <pre id="{{key}}-bibtex" class="pre pre-scrollable collapse">{{entry.bibtex}}</pre> -->

</div>
